* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background: rgb(22,38,61);
    background: linear-gradient(0deg, rgba(22,38,61,1) 0%, rgba(121,175,208,1) 35%, rgba(154,219,246,1) 100%);
    
    display: flex;
}
nav {
    justify-content: space-evenly;

    background-color: rgba(44, 72, 164, 0.50);
}